<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/videogular-themes-default/videogular.css">
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
    <div ng-app="vgAnnotationApp" ng-view></div>
    <!-- load scripts -->
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/angulartics/src/angulartics.js"></script>
    <script src="/angulartics/src/angulartics-ga.js"></script>
    <script src="/videogular/videogular.js"></script>
    <script src="/videogular-controls/vg-controls.js"></script>
    <script src="/videogular-angulartics/vg-analytics.js"></script>
    <script src="/videogular-youtube/youtube.js"></script>
    <script src="scripts/vg-annotation-app.js"></script>
    <script src="scripts/routes/vg-routes.js"></script>
    <script src="scripts/controllers/vg-annotation-ctrl.js"></script>
    <script src="scripts/directives/vg-annotation/vg-annotation.js"></script>
    <script src="scripts/directives/vg-annotation-widget/vg-annotation-widget.js"></script>
    <script src="scripts/directives/vg-annotation-widget/vg-annotation-widget-controller.js"></script>
</body>

</html>
