<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/videogular-themes-default/videogular.css">
    <link rel="stylesheet" href="/styles/styles.css"/>
</head>

<body>

<div ng-app="VideoAnnotations" ng-view></div>

<!-- load scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular-route/angular-route.js"></script>
<script src="/angular-sanitize/angular-sanitize.js"></script>
<script src="/angulartics/src/angulartics.js"></script>
<script src="/angulartics/src/angulartics-ga.js"></script>
<script src="/videogular/videogular.js"></script>
<script src="/videogular-controls/vg-controls.js"></script>
<script src="/videogular-angulartics/vg-analytics.js"></script>
<script src="/videogular-youtube/youtube.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="scripts/va-module.js"></script>
<script src="scripts/va-routes.js"></script>
<script src="scripts/directives/va-annotation/va-annotation.js"></script>
<script src="scripts/directives/va-editor/va-editor.js"></script>
<script src="scripts/directives/va-editor/va-editor-controller.js"></script>
<script src="scripts/directives/va-widget/va-widget.js"></script>
<script src="scripts/directives/va-widget/va-widget-controller.js"></script>
</body>

</html>
