<div class="col-sm-8">
    <videogular vg-player-ready="onPlayerReady($API)" vg-cue-points="cuePoints">
        <vg-media vg-src="sources"></vg-media>
        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'HH:mm:ss':'UTC' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ totalTime | date:'HH:mm:ss':'UTC'}}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>
        <div id="inline-va-container">
            <div ng-repeat="item in inlineAnnotations"
                 ng-click="selectAnnotation(item, false)"
                 xpos="item.position.left"
                 ypos="item.position.top"
                 draggable
                 ng-style="{top: item.position.top + 'px', left: item.position.left + 'px'}">
                <span>{{item.text}}</span>
            </div>
        </div>
    </videogular>
</div>
<div class="col-sm-4">
    <button type="button" ng-click="createAnnotation()">Add annotation</button>
    <va-editor annotation="selectedAnnotation"></va-editor>
    <section class="annotations-container">
        <video-annotation ng-repeat="annotation in annotations" source="annotation"
                          ng-class="{selected: annotation.selected, completed: annotation.completed}"
                          ng-click="selectAnnotation(annotation, true)"></video-annotation>
    </section>
</div>
