.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
}

.annotations-container {
    width: 100%;
    height: 320px;
    margin-top: 10px;
    overflow: auto;
    border: 2px #8EC1DA solid;
    box-sizing: border-box;
}

video-annotation {
    display: block;
    cursor: pointer;
    font-family: Calibri, Helvetica, Arial, serif;
}

video-annotation article {
    padding: 10px 10px 40px 10px;
}

video-annotation article footer {
    position: relative;
}

video-annotation article footer h4 {
    margin: 0;
}

video-annotation article footer .author {
    display: inline-block;
    margin: 0;
    right: 0;
    top: 0;
    text-align: left;
    position: absolute;
}

video-annotation:hover {
    background-color: #EEEEEE;
}

video-annotation.selected {
    background-color: #C0DEED;
}

video-annotation.completed {
    opacity: 0.3;
}

.animable {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s ease-out all;
}

@media (min-width: 768px) {
    .videogular-container {
        width: 728px;
        height: 409px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}
