<div id="editor-container">
    <label for="va-text">Text:</label>
    <br/>
    <input id="va-text" type="text" ng-model="annotation.text" />
    <br/>
    <div id="time-container">
        <label for="va-start">Start:</label>
        <input id="va-start" ng-model="annotation.start">
        <label for="va-end">End:</label>
        <input id="va-end" ng-model="annotation.end">
    </div>
    <div id="position-container">
        <label for="va-left">Left:</label>
        <input ng-model="annotation.position.left">
        <label for="va-top">Top:</label>
        <input ng-model="annotation.position.top">
    </div>
    <button type="button" ng-click="saveAnnotation()" ng-show="annotation">Save</button>
    <button type="button" ng-click="deleteAnnotation()" ng-show="annotation">Delete</button>
</div>
